*
!/generate_story6.py
!/generate_story7.py
!/generate_images2.py
!/generate_voices3.py
!/generate_movie4.py
!/run_pipeline.py
!/run_news_pipeline.py
!/create_tables_video.sql
!/include/
!/include/**
!/titles/
!/titles/**
!/news/
!/news/**
/news/__pycache__/
/news/batch.log
!/.gitignore
