*
!/generate_story6.py
!/generate_story7.py
!/generate_images2.py
!/generate_voices3.py
!/generate_movie4.py
!/generate_description.py
!/generate_thumbnail.py
!/send_completion_email.py
!/generate_channel_art.py
!/generate_channel_description.py
!/run_pipeline.py
!/run_news_pipeline.py
!/run_rotation_loop.py
!/create_tables_video.sql
!/add_news_genres_to_video_db.sql
!/import_movie_titles.py
!/include/
!/include/**
!/titles/
!/titles/**
!/news/
!/news/**
/news/__pycache__/
/news/batch.log
!/.gitignore
